.idea
*.crt
nft/artists/dzungel.json
nft/artists/stahel.json
nft/events/mock-mada-faka.json
nft/events/mock-tekno.json
.gitignore
dapp/.next
dapp/node_modules
dapp/.env
dapp/.env.local
dapp/next-env.d.ts