*.crt
nft/artists/dzungel.json
nft/artists/stahel.json
nft/events/mock-mada-faka.json
nft/events/mock-tekno.json
.gitignore
new-app/.dockerignore
new-app/docker-compose-with-nginx.yml
new-app/docker-compose.yml
new-app/Dockerfile
new-app/fix-ssl-certificates.sh
new-app/nginx-tickethic-simple.conf
new-app/nginx-tickethic-update.conf
new-app/nginx-tickethic.conf
new-app/setup-letsencrypt-ssl.sh
new-app/setup-tickethic-domain.sh
new-app/setup-tickethic-ssl.sh
new-app/setup-tickethic-temp-ssl.sh
new-app/scripts/deploy-config.env.example
new-app/scripts/deploy-template.ps1
new-app/scripts/deploy.ps1
new-app/scripts/deploy.sh
